.post-data {
  &__container {
    @apply flex flex-col justify-between;
  }

  &__data-item {
    @apply mb-0.5 overflow-hidden;

    &:first-of-type {
      @apply rounded-t-lg;
    }

    &:last-of-type {
      @apply rounded-b-lg;
    }

    @screen md {
      @apply text-sm;
    }
  }

  &__main-data-container {
    @apply grid gap-0.5 -mb-0.5 pb-0.5;
    grid-template-columns: repeat(2, auto);

    @screen md {
      grid-template-columns: repeat(4, auto);
    }
  }

  &__data-item-container {
    @apply flex flex-col text-base-600 py-1 px-2 font-semibold
    text-sm bg-base-300 justify-between transition-colors
    dark:text-base-400 dark:bg-base-800 leading-tight cursor-default;
  }

  &__data-item-container-empty {
    @apply bg-base-200 transition-colors
    dark:bg-base-900 dark:transition-colors;
  }

  &__data-item-content {
    @apply text-black
    dark:text-base-200;
  }

  &__producer-actor-icon {
    @apply mr-2 inline-block text-brand-primary-light text-base mb-1;
  }

  &__overflow-container {
    @apply flex flex-nowrap gap-x-2 -mx-5 px-5 overflow-x-scroll
    scrollbar-hide pb-0.5;
  }

  &__list-item-container {
    @apply py-1.5 px-2 rounded-lg whitespace-nowrap
    w-fit font-semibold text-black bg-body-light transition-colors
    leading-none
    dark:bg-body-dark dark:text-base-200;
  }

  &__post-description {
    @apply text-black font-normal whitespace-pre-wrap
    overflow-y-scroll scrollbar-hide pb-2 max-h-40
    dark:text-base-300;
  }
}
