.search-bar {
  &__container {
    @apply flex items-center w-full justify-center
      transition-all m-0;

    @screen md {
      @apply transition-all;

      &__open {
        @apply transition-all;
      }
    }
  }

  &__search-input {
    @apply text-base-800 placeholder-base-500 bg-body-light
    caret-brand-primary-bg outline-0 pr-12 w-full
    border border-base-300 px-4 h-10 rounded-md rounded-r-none
    border-r-0 transition-all
    dark:bg-body-dark dark:border-base-700 dark:text-base-100
    dark:transition-all;

    &:hover, &:focus {
      @apply transition-colors border-brand-primary-bg
      outline-none shadow-md shadow-base-300
      dark:bg-base-950 dark:transition-colors
      dark:border-brand-primary-bg dark:shadow-none;
    }

    @screen md {
      @apply rounded-full rounded-r-none border-r-0
      shadow-none transition-all;
    }
  }

  &__search-input-style2 {
    @apply shadow-none rounded-md rounded-r-none border-none
    bg-base-200 dark:bg-base-800 placeholder-base-500;

    &:hover, &:focus {
      @apply transition-colors outline-none shadow-none;
    }
  }

  &__search-button {
    @apply bg-brand-primary-light rounded-md rounded-l-none border
    border-brand-primary-dark h-10 w-14 flex items-center justify-center
    text-sm text-body-light outline-0 transition-colors
    dark:bg-brand-primary-bg dark:rounded-md dark:rounded-l-none
    dark:border dark:border-brand-primary-dark dark:text-body-dark
    dark:transition-colors;

    &:hover, :focus {
      @apply bg-brand-primary-dark transition-colors
      dark:bg-brand-primary-dark dark:transition-colors;
    }

    &:active {
      @apply outline-none text-base-800
      dark:text-base-100;
    }

    @screen tb {
      @apply text-base;
    }

    @screen md {
      @apply rounded-full rounded-l-none text-lg
      dark:rounded-full dark:rounded-l-none;
    }

    @screen lg {
      @apply text-2xl;
    }
  }

  &__search-button-style2 {
    @apply border-none;

    @screen md {
      @apply rounded-md rounded-l-none
      dark:rounded-md dark:rounded-l-none;
    }
  }

  &__search-input-container {
    @apply relative w-full;
  }

  &__clear-button {
    @apply absolute right-0.5 text-2xl text-base-100
    top-0 mt-0.5;

    @screen md {
      @apply mt-0;
    }

    @screen lg {
      @apply -mt-1;
    }
  }
}
