.menu-sidebar-option {
  &__menu-item-content {
    @apply flex flex-row p-2.5 items-center justify-start
    mx-auto rounded-md text-base-500 transition-colors
    dark:transition-colors;

    &:hover, &:focus {
      @apply bg-brand-primary-light cursor-pointer text-body-light
      transition-colors
      dark:bg-brand-primary-bg dark:text-body-dark dark:transition-colors;
    }

    &__open {
      @apply flex flex-row justify-start gap-x-4 m-0 pl-[22.5px];
    }

    &__active {
      @apply bg-brand-primary-light text-base-50
      transition-colors
      dark:bg-brand-primary-bg dark:text-base-50
      dark:transition-colors pointer-events-none;
    }
  }

  &__menu-item-icon {
    @apply text-2xl;
  }

  &__menu-item-text {
    @apply text-[10px] font-medium leading-relaxed
    hidden;

    &__open {
      @apply block text-[14px] transition-opacity;
    }
  }
}
