.post-comment-card {
  &__container {
    @apply grid gap-2 items-center cursor-default;
    grid-template-areas:
      "user-logo  user-name-date"
      "user-logo  comment";
    grid-auto-columns: auto 1fr;
  }

  &__user-avatar {
    @apply h-6 w-6 self-start text-sm font-bold uppercase;
    grid-area: user-logo;
  }

  &__user-name-date {
    @apply flex flex-wrap gap-x-1 justify-start items-center;
    grid-area: user-name-date;
  }

  &__user-name {
    @apply text-xs text-base-700 font-semibold transition-colors
    dark:text-base-400 dark:transition-colors;
  }

  &__comment-date {
    @apply text-xs text-base-600 leading-snug font-light
    transition-colors
    dark:text-base-400 dark:transition-colors;

    @screen md {
      @apply font-light;
    }
  }

  &__separator-icon {
    @apply text-base-500 transition-colors
    dark:text-base-600 dark:transition-colors;
  }

  &__comment {
    @apply text-sm font-light whitespace-pre-line
    break-words overflow-hidden;
    grid-area: comment;
  }
}
