.form-input-section {
  &__container {
    @apply flex flex-col mb-1.5;
  }

  &__input-label {
    @apply text-xs font-semibold text-black
    dark:text-base-300;

    @screen md {
      @apply text-sm;
    }
  }

  &__input-error-message {
    @apply text-xs font-normal text-red opacity-0 -translate-y-1 transition
    duration-300;

    &_visible {
      @apply opacity-100 transition translate-y-0 duration-300;
    }

    @screen md {
      @apply text-sm;
    }
  }

  &__input-element {
    @apply bg-body-light p-1.5 rounded-lg outline-none border
    border-base-300 placeholder-base-500 transition-colors
    dark:placeholder-base-400 dark:bg-body-dark dark:border-base-800
    dark:transition-colors;

    &:hover, &:focus {
      @apply border-brand-primary-light caret-brand-primary-bg
      dark:bg-base-950 dark:border-brand-primary-bg transition-colors
      dark:caret-brand-primary-bg dark:transition-colors;
    }

    &_error {
      @apply border-red dark:border-red;

      &:hover, &:focus {
        @apply border-red dark:border-red;
      }
    }
  }
}
