.modal {
  &__container {
    @apply flex-grow rounded-lg bg-base-200 hidden translate-y-full
    transition-all m-5 scrollbar-hide overflow-y-scroll
    dark:bg-base-800 dark:transition-colors
    dark:translate-y-full;
    max-height: calc(100vh - 150px);

    @screen tb {
      @apply max-w-md w-auto opacity-0 scale-50 translate-y-0;
    }

    @screen md {
      max-height: calc(100vh - 40px);
    }

    &-enter {
      @apply block dark:block translate-y-full dark:translate-y-full;

      @screen tb {
        @apply translate-y-0 dark:translate-y-0;
      }
    }

    &-enter-active {
      @apply block translate-y-0 transition-all duration-200
      dark:translate-y-0 dark:transition-all;

      @screen tb {
        @apply block opacity-100 scale-100 transition-all duration-300
        dark:block dark:opacity-100 dark:scale-100 dark:transition-all
        dark:duration-300;
      }
    }

    &-enter-done {
      @apply block translate-y-0
      dark:block dark:translate-y-0;

      @screen tb {
        @apply block opacity-100 scale-100 transition-all
        dark:block dark:opacity-100 dark:scale-100 dark:transition-all;
      }
    }

    &-exit {
      @apply block opacity-100 translate-y-0
      dark:block dark:opacity-100 dark:translate-y-0;

      @screen tb {
        @apply block opacity-100 scale-100
        dark:block dark:opacity-100 dark:scale-100;
      }
    }

    &-exit-active {
      @apply block translate-y-full transition-all duration-300
      dark:block dark:translate-y-full dark:transition-all
      dark:duration-300;

      @screen tb {
        @apply block opacity-0 translate-y-0 scale-0 transition-all
        duration-300
        dark:block dark:opacity-0 dark:translate-y-0 dark:scale-0
        dark:transition-all dark:duration-300;
      }
    }

    &-exit-done {
      @apply hidden dark:hidden;

      @screen tb {
        @apply hidden dark:hidden;
      }
    }
  }

  &__close-modal-button {
    @apply absolute top-1 right-1 hidden transition-colors
    dark:text-base-400;

    @screen md {
      @apply block text-2xl text-base-500;
    }

    &:hover, :focus {
      @apply cursor-pointer text-base-600
      dark:text-base-500;
    }
  }

  &__modal-backdrop {
    @apply hidden items-end justify-center fixed inset-0
    bg-transparent z-modal-backdrop;

    &-enter {
      @apply flex;
    }

    &-enter-active {
      @apply flex bg-body-dark/40 backdrop-blur-sm transition-colors;
    }

    &-enter-done {
      @apply flex bg-body-dark/40 backdrop-blur-sm;
    }

    &-exit {
      @apply flex bg-body-dark/30;
    }

    &-exit-active {
      @apply flex bg-transparent transition-colors;
    }

    &-exit-done {
      @apply hidden;
    }

    @screen tb {
      @apply items-center;

      &-enter {
        @apply flex;
      }

      &-enter-active {
        @apply flex bg-body-dark/50 transition-colors;
      }

      &-enter-done {
        @apply flex bg-body-dark/50;
      }

      &-exit {
        @apply flex bg-body-dark/50;
      }

      &-exit-active {
        @apply flex bg-transparent transition-colors;
      }

      &-exit-done {
        @apply hidden;
      }
    }
  }
}
