.profileCardSkeleton {
  &__container {
    @apply flex flex-col items-start overflow-hidden
    shadow-base-300 shadow-lg rounded-md gap-y-1
    dark:shadow-base-950;
  }

  &__imageWrapper {
    @apply w-full aspect-h-1 aspect-w-1 overflow-hidden;
  }

  &__profileImage {
    @apply h-full w-full bg-base-300 dark:bg-base-800;
  }

  &__dataContainer {
    @apply flex flex-col p-2 w-full gap-y-2;
  }

  &__profileName {
    @apply h-3 w-3/4 rounded-md bg-base-300
    dark:bg-base-700;
  }

  &__countSection {
    @apply flex flex-row gap-x-1 justify-between;
  }

  &__countItem {
    @apply h-3 w-1/4 rounded-md bg-base-400
    dark:bg-base-800;
  }
}
