.post-card-producer-actor {
  &__producer-title {
    @apply flex flex-row items-end gap-x-1.5 text-xs my-0.5
    text-base-600 font-normal mx-auto ml-0 dark:text-base-400
    dark:transition-colors transition-colors;

    &__disabled {
      @apply pointer-events-none;
    }
  }

  &__producer-icon {
    @apply text-lg text-cyan-500 transition-colors
    dark:text-sky-500 dark:transition-colors;
  }

  &__producer-iconAd {
    @apply text-lg text-red transition-colors
    dark:transition-colors;
  }
}
