.icon-button {
  &__button {
    @apply p-3 rounded-full text-sm outline-none
    dark:text-base-500;

    &:hover {
      @apply bg-base-300/60 text-base-500 transition-colors
      dark:bg-base-800/60 dark:transition-colors dark:text-base-100;
    }

    &:active {
      @apply text-brand-primary-light
      dark:text-brand-primary-dark;
    }

    &:disabled {
      @apply text-base-300 transition-colors
      dark:text-base-700;
    }

    @screen md {
      @apply text-base;
    }

    @screen lg {
      @apply text-2xl;
    }
  }
}

