.app-footer {
  &__layout {
    @apply container p-0 pt-0.5 border-none
    bg-brand-primary-light dark:bg-brand-primary-bg;
  }

  &__container {
    @apply grid place-items-start items-center px-5 pt-10
    pb-8 justify-between text-black bg-base-200
    transition-colors
    dark:bg-base-900 dark:transition-colors
    dark:text-base-300;

    @screen lg {
      @apply bg-body-light text-black
      dark:bg-body-dark dark:text-base-300;
    }

    grid-template-areas:
      "social-networks    social-networks   app-logo"
      "contact            contact           theme-switcher"
      "copyright          copyright         copyright";
    grid-auto-columns: auto auto auto;
    grid-column-gap: 10px;
  }

  &__logo-image-link {
    @apply flex w-full justify-center items-center;
    grid-area: app-logo;
  }

  &__logo-image {
    @apply object-contain w-24 h-auto transition-all;

    @screen tb {
      @apply w-32 transition-all;
    }

    @screen md {
      @apply w-36 transition-all;
    }

    @screen lg {
      @apply w-40 transition-all;
    }

    &:hover {
      @apply grayscale transition-all;
    }
  }

  &__copyright {
    @apply flex flex-row flex-wrap font-light items-center gap-x-1
    text-xs mt-4 text-black cursor-default
    dark:text-base-500;
    grid-area: copyright;

    @screen md {
      @apply text-base font-light;
    }
  }

  &__copyright-brand-name {
    @apply text-xs font-black uppercase text-brand-primary-light;

    @screen md {
      @apply text-base;
    }
  }

  &__social-networks {
    @apply flex flex-row flex-wrap gap-x-2 gap-y-2 text-white
    text-base uppercase items-center justify-center mt-1;
    grid-area: social-networks;

    @screen md {
      @apply text-xl;
    }

    @screen lg {
      @apply text-2xl;
    }
  }

  &__social-network {
    @apply relative p-1.5 rounded-lg bg-brand-primary-bg
    transition-colors;

    &:hover {
      @apply bg-brand-primary-dark transition-colors text-white
      dark:text-white;
    }
  }

  &__contact-link {
    @apply grid items-start justify-start text-xs font-bold
    mt-4;
    grid-area: contact;

    @screen md {
      @apply text-sm;
    }
  }

  &__theme-switcher {
    @apply place-self-center border border-base-300
    rounded-lg my-2 transition-colors
    dark:border-base-800 dark:transition-colors;
    grid-area: theme-switcher;
  }
}
