a {
  &:hover {
    @apply text-brand-primary-light transition-colors
    dark:text-brand-primary-light dark:transition-colors;
  }

  &:active {
    @apply text-brand-primary-dark transition-colors
    dark:text-brand-primary-dark dark:transition-colors;
  }
}

::selection {
  @apply bg-brand-primary-bg
  dark:bg-brand-primary-light;
}

textarea::placeholder {
  @apply whitespace-pre-line break-words truncate;
}
