.appToast {
  &__container {
    @apply grid px-5 max-w-sm bg-brand-primary-bg
    rounded-lg py-2.5 gap-x-4 items-center cursor-default shadow-lg shadow-body;
    grid-template-areas: "icon  content   close-button";
    grid-auto-columns: auto auto 1fr;

    @screen md {
      @apply max-w-md;
    }
  }

  &__icon {
    @apply text-lg items-center justify-center;
    grid-area: icon;
  }

  &__content {
    grid-area: content;
  }

  &__closeButton {
    @apply ml-2 self-start p-1;
    grid-area: close-button;
  }
}
